<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <display-name>University</display-name>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
        <welcome-file>index.htm</welcome-file>
        <welcome-file>index.jsp</welcome-file>
        <welcome-file>default.html</welcome-file>
        <welcome-file>default.htm</welcome-file>
        <welcome-file>default.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <display-name>StudentController</display-name>
        <servlet-name>StudentController</servlet-name>
        <servlet-class>controller.StudentController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>StudentController</servlet-name>
        <url-pattern>/student</url-pattern>
    </servlet-mapping>
    <filter>
        <display-name>StudentFilter</display-name>
        <filter-name>StudentFilter</filter-name>
        <filter-class>controller.StudentFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>StudentFilter</filter-name>
        <url-pattern>/student</url-pattern>
    </filter-mapping>
    <servlet>
        <description></description>
        <display-name>ImageUpload</display-name>
        <servlet-name>ImageUpload</servlet-name>
        <servlet-class>controller.ImageUpload</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ImageUpload</servlet-name>
        <url-pattern>/image</url-pattern>
    </servlet-mapping>
</web-app>